.top_container {
    margin: 25px auto;
    width: 1600px;
    height: 768px;
    border: 2px solid;
    display: flex;
    justify-content: space-around;
}

.btn_control_group {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    width: 200px;
    height: 230px;
}

.btn_control_group > button:hover {
    animation-name: fadeIn;
    animation-duration: 0.4s;
    color: white;
    background-color: grey;
    border: 2px solid;
    cursor: pointer;
}

.btn_control_go {
    margin-top: 5%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.btn_control_stop {
    margin-top: 5%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.btn_path_group {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}

.btn_path {
    font-weight: 1000;
    width: 250px;
    height: 40px;
    color: black;
    background-color: white;
    border: 2px solid;
    font-size: 20px;
    border-radius: 20px;
}

.btn_path:focus {
    outline: 0;
}

.btn_path:hover {
    animation-name: fadeIn;
    animation-duration: 0.4s;
    color: white;
    background-color: grey;
    border: 2px solid;
    cursor: pointer;
}